rules_version = '2';
service cloud.firestore {
  function newData() {
    return request.resource.data
  }
  match /databases/{database}/documents {
    match /clicks/{docID} {
      allow read: if uid == request.uid;
      allow create: if newData().keys().hasAll(["uid", "type", "timestamp", "item"]) && newData().keys().hasOnly(["uid", "type", "timestamp", "item"]) && newData().type in ["views", "sourceViews", "linkViews"] && newData().timestamp == request.time && newData().uid == request.auth.uid;
    }
    match /users/{uid}/views/{item} {
      allow read: if uid == request.uid;
    }
    match /settings/projects {
      allow read: if true
    }
  }
}